# This configuration file defines the hooks to be executed at each commit
repos:
# Pre-commit itself
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: fix-encoding-pragma
    -   id: check-toml
# Black code style formatter
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
