[project]
name = "Fiber Bundle Simulation"
authors = ["Nils Meyer <nils.meyer@kit.edu>"]

[tool.isort]
line_length = 79
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

[tool.black]
line-length = 79
#target-version = ['py27']
